.creeperBase {
    position: absolute;
    top: 0;
    left: 0;
}
.creeper {
    position: absolute;
    width: 80px;
    height: 240px;
}
.creeperFace {
    position: absolute;
    bottom: 185px;
    left: 10px;
}
#debugButton {
    position: absolute;
    top: 500px;
    left: 10px;
}
#versionText {
    color: #dfdfdf;
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
#titleText {
    font-size: 30px;
}
#underText {
    font-size: 15px;
}
#html {
    overflow: hidden;
    transform-origin: top left;
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: Comic-Sans;
    src: url("assets/comic.ttf");
}
@font-face {
    font-family: Pixel;
    src: url("assets/Minecraft.ttf");
}
.ladder {
    position: absolute;
    width: 80px;
    overflow: hidden;
}
.ladderImg {
    position: absolute;
    bottom: 0;
    left: 0;
}
#ladder1 {
    height: 480px;
}
#fullScreenOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transform: none;
}
#characterInventory {
    border: 5px solid black;
    border-radius: 20px;
    width: 750px;
    height: 750px;
    position: absolute;
    font-family: Comic-Sans;
    background-color: rgba(63, 127, 255, 0.5);
    display: none;
    z-index: 102;
}
#inventorySpan {
    font-size: 40px;
    width: 750px;
    position: absolute;
    left: 100px;
}
#inventoryList {
    width: 450px;
    height: 500px;
    position: absolute;
    top: 205px;
    left: 270px;
    border: 5px solid black;
    background-color: #7f7f7f;
    overflow-x: hidden;
    overflow-y: scroll
}
#simulatedCreeper {
    position: absolute;
    left: 20px;
    top: 300px;
}
#simulatedFace {
    position: absolute;
    left: 47.5px;
}
.creeperSlot {
    width: 80px;
    height: 80px;
    border: 2px solid #3f7fff;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 120px;
}
#creeperSlot1 {
    top: 275px;
}
#creeperSlot2 {
    top: 375px;
}
#creeperSlot3 {
    top: 475px;
}
.equipButton {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #bfbf3f;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 300px;
    bottom: 40px;
    color: black;
}
.equipButtonAlt {
    width: 25px;
    height: 25px;
    border-radius: 0px 0px 50px 0px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #bfbf3f;
    position: absolute;
    left: 0;
    top: 0;
}
.equipButton:hover {
    color: white;
}
.simWear {
    position: absolute;
}
#simWear3 {
    top: 480px;
    left: 20px;
    animation: none;
    filter: none;
}
#simWear2 {
    left: 0px;
    top: 380px;
}
.chWear {
    position: absolute;
}
#chWear2 {
    left: -20px;
    top: 80px;
}
#chWear3 {
    top: 180px;
    animation: none;
    filter: none;
}
@keyframes jumppad {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
#characterWearables {
    position: absolute;
}
.creeperSlot:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
#moneySpan {
    font-size: 30px;
    text-align: right;
    position: absolute;
    top: 50px;
    right: 10px;
}
#standInventory {
    border: 5px solid black;
    border-radius: 20px;
    width: 500px;
    height: 750px;
    position: absolute;
    font-family: Comic-Sans;
    background-color: rgba(63, 127, 255, 0.5);
    display: none;
    z-index: 101;
}
#standInventorySpan {
    font-size: 40px;
    width: 750px;
    position: absolute;
    left: 100px;
}
#standInventoryList {
    width: 450px;
    height: 500px;
    position: absolute;
    top: 205px;
    left: 20px;
    border: 5px solid black;
    background-color: #7f7f7f;
    overflow-x: hidden;
    overflow-y: scroll
}
.inventoryitem {
    width: 450px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 5px solid black;
    color: black;
    user-select: none;
    animation: none;
    filter: none;
    overflow: hidden;
}
.inventoryRow {
    width: 450px;
    height: 90px;
    overflow: hidden;
    
}
.inventoryimg {
    position: relative;
    top: 18px;
    left: 18px;
}
.inventoryname {
    font-size: 30px;
    position: relative;
    left: 30px;
}
.inventoryamount {
    font-size: 20px;
    text-align: right;
    position: relative;
    left: 30px;
    bottom: 20px;
}
.stand {
    position: absolute;
    filter: none;
    z-index: 100;
}
.standImg {
    position: relative;
    top: 5px;
    left: 5px;
}
.stand:hover {
    filter: drop-shadow(0px 0px 10px black);
}
.standtoptext {
    font-family: Comic-Sans;
    position: absolute;
    font-size: 30px;
    top: 10px;
    left: 0;
    width: 300px;
    text-align: center;
}
.standbottomtext {
    font-family: Comic-Sans;
    position: absolute;
    font-size: 30px;
    top: 200px;
    left: 0;
    width: 300px;
    height: 100px;
    text-align: center;
}
#increaseBuyButton {
    filter: none;
    position: absolute;
}
#increaseBuyButton:hover {
    filter: drop-shadow(0px 0px 10px #000);
}
#decreaseBuyButton {
    filter: none;
    position: absolute;
    top: 100px;
}
#decreaseBuyButton:hover {
    filter: drop-shadow(0px 0px 10px #000);
}
#buyAmountInput {
    border: 2px solid rgba(63, 127, 255, 0.75);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    width: 58px;
    height: 32px;
    font-size: 25px;
    position: absolute;
    top: 62px;
    text-align: center;
    font-family: Comic-Sans;
}
#buyOptions {
    position: absolute;
    top: 50px;
    right: 70px;
}
#purchaseInformation {
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 58px;
    text-align: right;
}
#itemImg {
    position: absolute;
    border: 2px solid rgba(63, 127, 255, 0.75);
    background-color: rgba(0, 0, 0, 0);
    top: 45px;
    right: 300px;
}
#currentMoneyDiv {
    width: 200px;
    height: 100px;
    border: 5px solid black;
    border-left: none;
    border-radius: 0px 20px 20px 0px;
    font-family: Comic-Sans;
    text-align: center;
    position: relative;
    bottom: 5px;
    left: 505px;
    background: linear-gradient(0deg, rgba(63, 255, 63, 0.5) 0%, rgba(63, 255, 63, 0) 100%);
}
#moneyDivGap {
    position: relative;
    width: 20px;
    height: 5px;
    border-top: 5px solid black;
    left: 485px;
    bottom: 115px;
}
#currentMoneySpan {
    font-size: 30px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 30px;
}
#buyButton {
    position: absolute;
    width: 100px;
    height: 50px;
    font-family: Comic-Sans;
    font-size: 25px;
    border: 5px solid #2fbf2f;
    background-color: #3fff3f;
    color: black;
    border-radius: 20px;
    right: 175px;
    top: 55px;
    filter: none;
}
#buyButton:hover {
    filter: drop-shadow(0px 0px 10px #000);
}
#characterMoneySpan {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Comic-Sans;
    text-align: right;
}
#characterMoneyBuffer {
    font-size: 30px;
    position: absolute;
    top: 50px;
    right: 10px;
    font-family: Comic-Sans;
    text-align: right;
    display: none;
}
#characterHUD {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#characterHeldItem {
    position: absolute;
    animation: none;
    filter: none;
}
#selectedHoldingItem {
    position: absolute;
    border: 2px solid rgba(63, 127, 255, 0.75);
    top: 110px;
    right: 10px;
}
#selectedAmmoItem {
    position: absolute;
    border: 2px solid rgba(63, 127, 255, 0.75);
    top: 110px;
    right: 84px;
}
#blockPlacementGuide {
    background-color: rgba(0, 0, 0, 0);
    border: 5px dashed black;
    position: absolute;
    display: none;
}
#invisibleMouseDetector {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0);
}
#characterStandSquare {
    width: 300px;
    height: 240px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}
#bpgHitbox {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}
.fan {
    position: absolute;
    width: 300px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
}
.fanBase {
    position: absolute;
    width: 300px;
    height: 20px;
    top: 0;
    left: 0;
}
.fanBlade {
    position: absolute;
    width: 284px;
    height: 4px;
    top: 8px;
    left: 8px;
}
.decorDot {
    position: absolute;
    width: 2px;
    height: 2px;
}
#creeperCodeInput {
    position: absolute;
    right: 10px;
    z-index: 110;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    resize: none;
}
#runButton {
    position: absolute;
    z-index: 111;
    background-color: #3f7fff;
    color: black;
    width: 100px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px 0px 20px 0px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: none;
    border-right: none;
    right: 12px;
    top: 219px;
}
#runButton:hover {
    background-color: #7f007f;
}
#gamePausedSpan {
    font-size: 30px;
    font-family: Comic-Sans;
    position: absolute;
    top: 10px;
    left: 30px;
}
.settingsIcon {
    width: 196px;
    height: 46px;
    text-align: center;
    font-family: Comic-Sans;
    font-size: 30px;
    background-color: rgba(0, 127, 127, 0.5);
    border: 2px solid black;
    position: absolute;
    left: 250px;
    top: 10px;
}
.settingsOption {
    width: 196px;
    height: 46px;
    text-align: center;
    font-family: Comic-Sans;
    background-color: rgba(0, 127, 127, 0.5);
    border: 2px solid black;
    font-size: 16px;
}
.settingsOption:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.settingsIcon:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.settingsSection {
    position: absolute;
}

#musicVolumeSlider {
    -webkit-appearance: none;
    filter: drop-shadow(0px 0px 10px black);
    position: absolute;
    top: 30px;
    width: 150px;
    left: 25px;
}
#musicVolumeSlider:focus {
    outline: none;
}
#musicVolumeSlider::-webkit-slider-runnable-track {
    background: #7fbfff;
    height: 5px;
}
#musicVolumeSlider::-moz-range-track {
    background: #7fbfff;
    height: 5px;
}
#musicVolumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 25px;
    background: #fff;
    margin-top: -5px;
    border-radius: 5px;
}
#musicVolumeSlider::-moz-range-thumb {
    height: 15px;
    width: 25px;
    background: #fff;
    margin-top: -5px;
    border-radius: 5px;
}

#displaySettings {
    top: 60px;
    left: 250px;
}
#soundSettingsIcon {
    left: 450px;
}
#soundSettings {
    top: 60px;
    left: 450px;
}
#pauseMenu {
    display: none;
    z-index: 1000;
}
#pauseOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1, 1.1);
}
#invalidCodeDetector {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #f00;
    text-align: center;
    width: 700px;
    height: 25px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 100px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 112;
    display: none;
}
#launcherGuide {
    position: absolute;
    display: none;
    user-select: none;
}
.chInvTab {
    position: absolute;
    width: 150px;
    height: 35px;
    border: 5px solid black;
    border-bottom: none;
    border-radius: 20px 20px 0px 0px;
    font-size: 20px;
    text-align: center;
    rotate: 270deg;
    left: 170px;
    user-select: none;
}
#everythingTab {
    top: 265px;
    background-color: #3fbf3f;
}
#everythingTab:hover {
    background-color: #7fff7f;
}
#itemsTab {
    width: 90px;
    top: 395px;
    left: 200px;
    background-color: #3f7fff;
}
#itemsTab:hover {
    background-color: #7fffff;
}
#weaponsTab {
    width: 110px;
    top: 505px;
    left: 190px;
    background-color: #ff3f3f;
}
#weaponsTab:hover {
    background-color: #ff7f7f;
}
#wearablesTab {
    width: 110px;
    top: 625px;
    left: 190px;
    background-color: #7f3f7f;
}
#wearablesTab:hover {
    background-color: #bf7fbf;
}
.chInvTabSpan {
    position: relative;
}
#sections {
    height: 75%;
    overflow: hidden;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}
#selectedElementConsole {
    position: absolute;
    width: 250px;
    height: 25%;
    bottom: 0;
    left: -255px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    border-right: 5px solid black;
    border-top: 5px solid black;
    font-family: monospace;
    font-size: 12px;
    color: white;
    overflow-y: scroll;
}
#worldBuilderConsole {
    width: 250px;
    height: 75%;
    position: absolute;
    top: 0;
    left: -255px;
    backdrop-filter: blur(5px);
    border-right: 5px solid black;
    text-align: center;
    z-index: 110;
}
.consoleSection {
    font-family: Comic-Sans;
    width: 200px;
    height: 400px;
    background-color: rgba(31, 31, 31, 0.75);
    color: #bfbfbf;
    border-radius: 25px;
    position: relative;
    left: 16px;
    text-align: left;
    overflow: hidden;
}
.sectionName {
    text-align: center;
    user-select: none;
}
.scLabel {
    width: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #7f7f7f;
    color: white;
    font-family: Comic-Sans;
    text-align: center;
    position: relative;
    left: 10px;
}
.scActualLabel {
    position: relative;
    left: 10px;
}
#scMarkerAmount {
    width: 25px;
}
#summonCreepersButton {
    width: 150px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid #7f7f7f;
    background-color: #5f5f5f;
    color: white;
    font-family: Comic-Sans;
    position: relative;
    left: 25px;
}
#scLabelY {
    position: relative;
    left: 34px;
}
#scMarkerY {
    position: relative;
    left: 34px;
}
#summonCreepersButton:hover {
    background-color: #3f3f3f;
}
.ultimate {
    font-family: Comic-Sans;
    text-align: center;
}
#inventoryModeSelect {
    font-family: Comic-Sans;
    text-align: center;
    color: white;
    background-color: #3f3f3f;
    border: 2px solid #7f7f7f;
    position: relative;
    left: 40px;
}
#inventoryItemSelect {
    font-family: Comic-Sans;
    text-align: center;
    color: white;
    background-color: #3f3f3f;
    border: 2px solid #7f7f7f;
    position: relative;
    left: 10px;
}
#inventoryItemAmount {
    font-family: Comic-Sans;
    text-align: center;
    color: white;
    border: 2px solid #7f7f7f;
    background-color: rgba(0, 0, 0, 0);
    width: 25px;
    position: relative;
    left: 40px;
}
#inventoryConsoleButton {
    width: 150px;
    height: 25px;
    background-color: #5f5f5f;
    color: white;
    font-family: Comic-Sans;
    border: 2px solid #7f7f7f;
    border-radius: 25px;
    position: relative;
    left: 25px;
}
#inventoryConsoleButton:hover {
    background-color: #3f3f3f;
}
#sections {
    overflow-y: scroll;
    height: 100%;
}
#summonCreepersSection {
    height: 200px;
    position: relative;
    top: 10px;
}
#inventorySection {
    height: 175px;
    position: relative;
    top: 20px;
}
#placementSection {
    height: 200px;
    position: relative;
    top: 30px;
}
#worldSection {
    height: 620px;
    position: relative;
    top: 40px;
}
#spawnSection {
    height: 250px;
    position: relative;
    top: 50px;
}
#placeableSelect {
    font-family: Comic-Sans;
    text-align: center;
    color: white;
    border: 2px solid #7f7f7f;
    background-color: #3f3f3f;
    position: relative;
    left: 10px;
}
.ultimato {
    font-family: Comic-Sans;
    text-align: center;
}
#placeableLabel {
    position: relative;
    left: 10px;
}
.placeableInput {
    width: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #7f7f7f;
    font-family: Comic-Sans;
    color: white;
    text-align: center;
    position: relative;
    left: 10px;
}
.placeableLabel {
    position: relative;
    left: 10px;
}
#placeableMarkerY {
    left: 34px;
}
#placeableLabelY {
    left: 34px;
}
#placeObjectButton {
    width: 100px;
    height: 25px;
    background-color: #5f5f5f;
    color: white;
    font-family: Comic-Sans;
    border: 2px solid #7f7f7f;
    border-radius: 25px;
    position: relative;
    left: 50px;
}
#placeObjectButton:hover {
    background-color: #3f3f3f;
}
#worldElementSelect {
    font-family: Comic-Sans;
    text-align: center;
    color: white;
    border: 2px solid #7f7f7f;
    background-color: #3f3f3f;
    position: relative;
    left: 60px;
}
.worldInput {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: Comic-Sans;
    width: 50px;
    border: 2px solid #7f7f7f;
    text-align: center;
}
#blockWidthInput {
    position: relative;
    left: 14px;
}
#blockWidthLabel {
    position: relative;
    left: 14px;
}
#blockHeightInput {
    position: relative;
    left: 10px;
}
#blockHeightLabel {
    position: relative;
    left: 10px;
}
#blockXInput {
    position: relative;
    left: 52px;
}
#blockXLabel {
    position: relative;
    left: 52px;
}
#blockYInput {
    position: relative;
    left: 52px;
}
#blockYLabel {
    position: relative;
    left: 52px;
}
#trampWidthInput {
    position: relative;
    left: 14px;
}
#trampWidthLabel {
    position: relative;
    left: 14px;
}
#trampHeightInput {
    position: relative;
    left: 10px;
}
#trampHeightLabel {
    position: relative;
    left: 10px;
}
#trampXInput {
    position: relative;
    left: 52px;
}
#trampXLabel {
    position: relative;
    left: 52px;
}
#trampYInput {
    position: relative;
    left: 52px;
}
#trampYLabel {
    position: relative;
    left: 52px;
}
.worldButton {
    width: 100px;
    height: 25px;
    text-align: center;
    font-family: Comic-Sans;
    color: white;
    background-color: #5f5f5f;
    border: 2px solid #7f7f7f;
    border-radius: 50px;
    position: relative;
    left: 50px;
}
.worldButton:hover {
    background-color: #3f3f3f;
}
.worldSector {
    display: none;
}
#signTextInput {
    width: 180px;
    position: relative;
    left: 5px;
}
#signWidthInput {
    position: relative;
    left: 14px;
}
#signWidthLabel {
    position: relative;
    left: 14px;
}
#signHeightInput {
    position: relative;
    left: 10px;
}
#signHeightLabel {
    position: relative;
    left: 10px;
}
#signXInput {
    position: relative;
    left: 52px;
}
#signXLabel {
    position: relative;
    left: 52px;
}
#signYInput {
    position: relative;
    left: 52px;
}
#signYLabel {
    position: relative;
    left: 52px;
}
#arrowRInput {
    position: relative;
    left: 10px;
}
#arrowRLabel {
    position: relative;
    left: 10px;
}
#arrowXInput {
    position: relative;
    left: 65px;
}
#arrowXLabel {
    position: relative;
    left: 65px;
}
#arrowYInput {
    position: relative;
    left: 65px;
}
#arrowYLabel {
    position: relative;
    left: 65px;
}
#arrowSelect {
    font-family: Comic-Sans;
    text-align: center;
    color: white;
    border: 2px solid #7f7f7f;
    background-color: #3f3f3f;
    position: relative;
    left: 45px;
}
#arrowButton {
    width: 150px;
    left: 25px;
}
#ladderHeightInput {
    position: relative;
    left: 10px;
}
#ladderHeightLabel {
    position: relative;
    left: 10px;
}
#ladderXInput {
    position: relative;
    left: 52px;
}
#ladderXLabel {
    position: relative;
    left: 52px;
}
#ladderYInput {
    position: relative;
    left: 52px;
}
#ladderYLabel {
    position: relative;
    left: 52px;
}
#ladderButton {
    width: 150px;
    left: 25px;
}
#fanXInput {
    position: relative;
    left: 52px;
}
#fanXLabel {
    position: relative;
    left: 52px;
}
#fanYInput {
    position: relative;
    left: 52px;
}
#fanYLabel {
    position: relative;
    left: 52px;
}
#simulatedStandImg {
    position: relative;
    bottom: 120px;
    left: 25px;
}
#simulatedStandManning {
    position: relative;
    left: 80px;
    top: 35px;
}
#simulatedCreeperDir {
    position: relative;
    bottom: 57px;
    left: 38px;
}
#simulatedStandInventory {
    position: relative;
    bottom: 200px;
    left: 25px;
}
#topBar {
    width: 150px;
    height: 25px;
    background-color: #2f2f2f;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    font-family: Comic-Sans;
}
#simulatedInventoryList {
    width: 150px;
    height: 150px;
    background-color: #1f1f1f;
    border-radius: 0px 0px 15px 15px;
    overflow-y: scroll;
}
#addButton {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    background-color: #3fbf3f;
    border-radius: 0px 15px 0px 0px;
    position: relative;
    left: 36px;
}
#addButton:hover {
    background-color: #7fff7f;
}
.simInvItem {
    background-color: #0f0f0f;
    border-bottom: 2px solid white;
    height: 50px;
}
.simInvSel {
    width: 108px;
    font-family: Comic-Sans;
    text-align: center;
    color: white;
    border: 2px solid #7f7f7f;
    background-color: #3f3f3f;
    position: relative;
    left: 25px;
}
.simulatedItemInput {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: Comic-Sans;
    width: 35px;
    border: 2px solid #7f7f7f;
    text-align: center;
}
.removeSimButton {
    width: 21px;
    height: 21px;
    border: 2px solid #bfbfbf;
    background-color: #ff3f3f;
    position: relative;
    bottom: 50px;
}
.removeSimButton:hover {
    background-color: #ff7f7f;
}
#simulatedTopTextInput {
    text-align: center;
    font-size: 15px;
    font-family: Comic-Sans;
    position: relative;
    width: 142px;
    left: 27px;
    bottom: 273px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
#simulatedBottomTextInput {
    text-align: center;
    font-size: 15px;
    font-family: Comic-Sans;
    position: relative;
    width: 142px;
    height: 46px;
    left: 27px;
    bottom: 200px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    resize: none;
}
#facingLeftButton {
    width: 25px;
    height: 25px;
    background-color: rgba(191, 191, 191, 0.5);
    border: none;
    border-radius: 5px;
    position: relative;
    right: 144px;
    bottom: 280px;
}
#facingLeftButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
#facingRightButton {
    width: 25px;
    height: 25px;
    background-color: rgba(191, 191, 191, 0.5);
    border: none;
    border-radius: 5px;
    position: relative;
    left: 164px;
    bottom: 307px;
}
#facingRightButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
#standPositioning {
    position: relative;
    left: 52px;
    bottom: 175px;
}
#standButton {
    left: 0;
}
#devConsoleButton {
    rotate: 90deg;
    background-color: #3f3f3f;
    width: 200px;
    font-family: Comic-Sans;
    font-size: 20px;
    text-align: center;
    color: white;
    height: 30px;
    position: relative;
    left: -96px;
    top: 150px;
    border-radius: 20px 20px 0px 0px;
    border-left: 5px solid black;
    border-top: 5px solid black;
    border-right: 5px solid black;
    z-index: 109;
}
#devConsoleButton:hover {
    background-color: #5f5f5f;
}
#frozenText {
    position: absolute;
    left: 160px;
    bottom: 215px;
    font-family: Comic-Sans;
    font-size: 20px;
    color: white;
    display: none;
}
.selCons {
    background-color: rgba(0, 0, 0, 0);
}
.selCons:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
#crateInventory {
    position: absolute;
    width: 1000px;
    height: 750px;
    border: 5px solid black;
    border-radius: 20px;
    font-family: Comic-Sans;
    background-color: rgba(63, 127, 255, 0.5);
    z-index: 102;
    display: none;
}
#crateInventorySpan {
    font-size: 40px;
    width: 750px;
    position: absolute;
    left: 350px;
}
#crateInventoryList {
    width: 450px;
    height: 500px;
    position: absolute;
    top: 205px;
    left: 20px;
    border: 5px solid black;
    background-color: #7f7f7f;
    overflow-x: hidden;
    overflow-y: scroll
}
#characterInventoryCrateList {
    width: 450px;
    height: 500px;
    position: absolute;
    top: 205px;
    right: 20px;
    border: 5px solid black;
    background-color: #7f7f7f;
    overflow-x: hidden;
    overflow-y: scroll
}
#crateFullnessSpan {
    position: absolute;
    left: 445px;
    top: 180px;
    font-size: 20px;
}
#transferModule {
    position: absolute;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 5px solid black;
    font-family: Comic-Sans;
    left: 375px;
    top: 100px;
    background-color: #3fff7f;
}
.moneyCrateTransferButton {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    background-color: #bfbf00;
    border-radius: 5px;
    position: absolute;
}
.moneyCrateTransferButton:hover {
    background-color: #ffff3f;
}
#characterToCrateButton {
    top: 10px;
    left: 5px;
}
#crateToCharacterButton {
    top: 10px;
    right: 5px;
}
#milliceepTransferInput {
    position: absolute;
    top: 5px;
    height: 35px;
    width: 150px;
    left: 45px;
    font-size: 30px;
    font-family: Comic-Sans;
    text-align: center;
    background-color: #1f1f1f;
    border: 2px solid #3f3f3f;
    color: white;
}
#crateMoneyContentSpan {
    font-family: Comic-Sans;
    font-size: 30px;
    position: absolute;
    left: -350px;
    top: 50px;
}
#characterMoneyCrateSpan {
    font-family: Comic-Sans;
    font-size: 30px;
    position: absolute;
    text-align: right;
    right: -350px;
    top: 50px;
}
#floorThingsSection {
    top: 50px;
}
.floorInput {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: Comic-Sans;
    width: 50px;
    border: 2px solid #7f7f7f;
    text-align: center;
}
.floorButton {
    width: 150px;
    height: 25px;
    text-align: center;
    font-family: Comic-Sans;
    color: white;
    background-color: #5f5f5f;
    border: 2px solid #7f7f7f;
    border-radius: 50px;
    position: relative;
    left: 25px;
}
.floorButton:hover {
    background-color: #3f3f3f;
}
#floorMoneyExButton {
    width: 175px;
    left: 12.5px;
}
.floorBox {
    width: 25px;
    height: 25px;
    color: rgba(0, 0, 0, 0);
    border: 2px solid #3f3f3f;
}
#floorThingElementSelect {
    font-family: Comic-Sans;
    text-align: center;
    color: white;
    border: 2px solid #7f7f7f;
    background-color: #3f3f3f;
    position: relative;
    left: 12px;
}
#floorItemSelect {
    font-family: Comic-Sans;
    text-align: center;
    color: white;
    border: 2px solid #7f7f7f;
    background-color: #3f3f3f;
    position: relative;
    left: 10px;
}
#floorItemSelectLabel {
    position: relative;
    left: 70px;
}
#floorItemXLabel {
    position: relative;
    left: 10px;
}
#floorItemXInput {
    position: relative;
    left: 10px;
}
#floorItemYLabel {
    position: relative;
    left: 34px;
}
#floorItemYInput {
    position: relative;
    left: 34px;
}
#floorItemXVecLabel {
    position: relative;
    left: 10px;
}
#floorItemXVecInput {
    position: relative;
    left: 10px;
}
#floorItemYVecLabel {
    position: relative;
    left: 51px;
}
#floorItemYVecInput {
    position: relative;
    left: 51px;
}
#moneyMilliceepLabel {
    position: relative;
    left: 70px;
}
#moneyExMilliceepLabel {
    position: relative;
    left: 70px;
}
#moneyXLabel {
    position: relative;
    left: 10px;
}
#moneyXInput {
    position: relative;
    left: 10px;
}
#moneyYLabel {
    position: relative;
    left: 34px;
}
#moneyYInput {
    position: relative;
    left: 34px;
}
#moneyExStrengthLabel {
    position: relative;
    left: 10px;
}
#moneyExStrengthInput {
    position: relative;
    left: 10px;
}
#moneyExXLabel {
    position: relative;
    left: 42px;
}
#moneyExXInput {
    position: relative;
    left: 42px;
}
#moneyExYLabel {
    position: relative;
    left: 66px;
}
#moneyExYInput {
    position: relative;
    left: 66px;
}
#moneyMilliceepInput {
    position: relative;
    left: 30px;
}
#moneyMilliceepInputSpan {
    position: relative;
    left: 30px;
}
#moneyExMilliceepInput {
    position: relative;
    left: 30px;
}
#moneyExMilliceepInputSpan {
    position: relative;
    left: 30px;
}
#moneyWeightedBox {
    position: relative;
    left: 40px;
    top: 5px;
}
#moneyWeightedBoxLabel {
    position: relative;
    left: 40px;
}
#moneyExWeightedBox {
    position: relative;
    left: 40px;
    top: 5px;
}
#moneyExWeightedBoxLabel {
    position: relative;
    left: 40px;
}
#XYGuide {
    position: absolute;
}
#placerHalo {
    position: absolute;
    border: 5px solid rgba(0, 0, 0, 0.5);
}
#haloHitbox {
    position: absolute;
    display: none;
}
#collectionLabel {
    position: relative;
    left: 20px;
}
#collectionSelect {
    font-family: Comic-Sans;
    text-align: center;
    color: white;
    border: 2px solid #7f7f7f;
    background-color: #3f3f3f;
    position: relative;
    left: 30px;
}
#collectibleSelect {
    font-family: Comic-Sans;
    text-align: center;
    color: white;
    border: 2px solid #7f7f7f;
    background-color: #3f3f3f;
    position: relative;
    width: 200px;
}
#collectiblesButton {
    width: 150px;
    left: 25px;
}
#collectiblesSection {
    top: 60px;
    height: 175px;
}
#otherOptions {
    position: absolute;
    left: 25px;
    top: 100px;
    z-index: 112;
    width: 50px;
}
.otherOption {
    width: 200px;
    height: 50px;
    border: 5px solid black;
    background-color: #FFF;
    border-radius: 100px;
    font-family: Comic-Sans;
    color: black;
    font-size: 20px;
}
.otherOption:hover {
    background-color: #bfbfbf;
}
.collectibleImage {
    width: 100px;
    height: 100px;
    border: 5px solid black;
}
.collectibleTitleSpan {
    font-family: Comic-Sans;
    text-align: center;
    font-size: 20px;
    width: 150px;
    position: relative;
    right: 20px;
}
.collectibleAmountSpan {
    font-family: Comic-Sans;
    text-align: center;
    font-size: 20px;
    width: 150px;
    position: relative;
    right: 20px;
}
.collectibleModule {
    position: relative;
    width: 150px;
    height: 200px;
    float: left;
    top: 10px;
    left: 100px;
}
.collectionRow {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 200px;
    background-color: rgba(63, 192, 63, 1);
    border: 5px solid black;
    border-radius: 200px;
    top: 50px;
}
#collectiblesPanel {
    position: absolute;
    z-index: 113;
    display: none;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    background-color: #3f7fff;
    border: 5px solid black;
    border-radius: 50px;
}
#closeCollectiblesPanelButton {
    width: 180px;
    height: 35px;
    font-size: 20px;
    font-family: Comic-Sans;
    border: 2px solid white;
    color: white;
    background-color: #7f007f;
    border-radius: 10px;
    position: relative;
    top: 25px;
    left: 100px;
}
#closeCollectiblesPanelButton:hover {
    background-color: #000;
}
#collection {
    overflow-y: scroll;
    overflow-x: scroll;
}
#HUDHeldItem {
    position: absolute;
    border: 5px solid rgba(0, 0, 0, 0.75);
    right: 10px;
    top: 100px;
}
#worldExportPanel {
    display: none;
    z-index: 124;
    position: absolute;
    font-family: Comic-Sans;
    font-size: 16px;
    background-color: #3fbf3f;
    border: 5px solid black;
    border-radius: 25px;
    width: 300px;
    height: 120px;
    text-align: center;
    left: 225px;
    top: 100px;
}
#worldFilenameInput {
    width: 150px;
    height: 20px;
    font-size: 16px;
    font-family: Comic-Sans;
    color: white;
    background-color: #3f7fff;
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
}
#worldExportNoteSpan {
    font-size: 12px;
}
#worldExportTrigger {
    width: 150px;
    height: 30px;
    font-family: Comic-Sans;
    font-size: 16px;
    background-color: #7f007f;
    color: white;
    border: 3px solid black;
    border-radius: 50px;
}
#worldExportTrigger:hover {
    border: 3px solid white;
}
.leafDot {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #000;
    border-radius: 5px;
}
#importWorldButton {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid #7f007f;
    color: #7f007f;
}
#importWorldButton:hover {
    border: 5px solid white;
    color: white;
}
#exportWorldButton {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid #7f007f;
    color: #7f007f;
}
#exportWorldButton:hover {
    border: 5px solid white;
    color: white;
}
#generateWorldButton {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid #00bf3f;
    color: #00bf3f;
}
#generateWorldButton:hover {
    border: 5px solid white;
    color: white;
}
#worldImportWarning {
    background-color: rgba(127, 0, 127, 0.75);
    width: 750px;
    height: 250px;
    border: 5px solid white;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 225px;
}
#worldImportWarningSpan {
    color: white;
    font-family: Comic-Sans;
    font-size: 25px;
    text-align: center;
}
#worldImportCancelButton {
    width: 100px;
    height: 40px;
    border: 5px solid black;
    background-color: #FFF;
    border-radius: 100px;
    font-family: Comic-Sans;
    color: black;
    font-size: 20px;
}
#worldImportCancelButton:hover {
    background-color: #bfbfbf;
}
#worldImportSecondButton {
    width: 200px;
    height: 40px;
    border-radius: 100px;
    font-family: Comic-Sans;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid white;
    color: white;
}
#worldImportSecondButton:hover {
    background-color: black;
}
#versionTypeWarning {
    background-color: rgba(127, 0, 127, 0.75);
    width: 750px;
    height: 300px;
    border: 5px solid white;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 225px;
}
#versionTypeWarningSpan {
    color: white;
    font-family: Comic-Sans;
    font-size: 25px;
    text-align: center;
}
#versionTypeCancelButton {
    width: 100px;
    height: 40px;
    border: 5px solid black;
    background-color: #FFF;
    border-radius: 100px;
    font-family: Comic-Sans;
    color: black;
    font-size: 20px;
}
#versionTypeCancelButton:hover {
    background-color: #bfbfbf;
}
#versionTypeSecondButton {
    width: 150px;
    height: 40px;
    border-radius: 100px;
    font-family: Comic-Sans;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid white;
    color: white;
}
#versionTypeSecondButton:hover {
    background-color: black;
}
#versionLessWarning {
    background-color: rgba(127, 0, 127, 0.75);
    width: 750px;
    height: 300px;
    border: 5px solid white;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 225px;
}
#versionLessWarningSpan {
    color: white;
    font-family: Comic-Sans;
    font-size: 25px;
    text-align: center;
}
#versionLessCancelButton {
    width: 100px;
    height: 40px;
    border: 5px solid black;
    background-color: #FFF;
    border-radius: 100px;
    font-family: Comic-Sans;
    color: black;
    font-size: 20px;
}
#versionLessCancelButton:hover {
    background-color: #bfbfbf;
}
#versionLessSecondButton {
    width: 150px;
    height: 40px;
    border-radius: 100px;
    font-family: Comic-Sans;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid white;
    color: white;
}
#versionLessSecondButton:hover {
    background-color: black;
}
#versionMoreWarning {
    background-color: rgba(127, 0, 127, 0.75);
    width: 750px;
    height: 300px;
    border: 5px solid white;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 225px;
}
#versionMoreWarningSpan {
    color: white;
    font-family: Comic-Sans;
    font-size: 25px;
    text-align: center;
}
#versionMoreCancelButton {
    width: 100px;
    height: 40px;
    border: 5px solid black;
    background-color: #FFF;
    border-radius: 100px;
    font-family: Comic-Sans;
    color: black;
    font-size: 20px;
}
#versionMoreCancelButton:hover {
    background-color: #bfbfbf;
}
#versionMoreSecondButton {
    width: 150px;
    height: 40px;
    border-radius: 100px;
    font-family: Comic-Sans;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid white;
    color: white;
}
#versionMoreSecondButton:hover {
    background-color: black;
}
#worldImportOverlay {
    width: 1000%;
    height: 1000%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 1000;
}
#spanContainer {
    width: 500px;
    height: 75px;
    border: 5px solid black;
    position: absolute;
    text-align: center;
}
#wiSpan {
    font-size: 50px;
    font-family: Comic-Sans;
}
.sign {
    z-index: 1;
}
#creeperFloodImage {
    position: absolute;
    width: 2px;
    height: 2px;
    left: 39px;
    top: 119px;
}
@keyframes flood {
    0% {
        width: 0px;
        height: 0px;
        left: 39px;
        top: 119px;
        opacity: 100%;
    }
    100% {
        width: 300px;
        height: 300px;
        left: -110px;
        top: -20px;
        opacity: 0%;
    }
}
#generateWorldPanel {
    display: none;
    width: 400px;
    height: 250px;
    border-radius: 50px;
    border: 5px solid white;
    background-color: #00bf3f;
    color: white;
    font-family: Comic-Sans;
    font-size: 20px;
    z-index: 131;
    position: absolute;
    left: 225px;
    top: 100px;
}
#worldWidthInput {
    width: 75px;
    height: 25px;
    font-size: 20px;
    font-family: Comic-Sans;
    text-align: center;
    border: 2px solid #1f1f1f;
    border-radius: 50px;
    background-color: black;
    color: white;
    position: relative;
    left: 20px;
    top: 10px;
}
#worldNameInput {
    width: 200px;
    height: 25px;
    font-size: 20px;
    font-family: Comic-Sans;
    text-align: center;
    border: 2px solid #1f1f1f;
    border-radius: 50px;
    background-color: black;
    color: white;
    position: relative;
    left: 20px;
    top: 10px;
}
#ifIterationBox {
    filter: contrast(10%);
    user-select: none;
    position: relative;
    left: 50px;
    top: 20px;
}
#iterationInput {
    width: 75px;
    height: 25px;
    font-size: 20px;
    font-family: Comic-Sans;
    text-align: center;
    border: 2px solid #1f1f1f;
    border-radius: 50px;
    background-color: black;
    color: white;
    user-select: inherit;
}
#worldWidthLabel {
    position: relative;
    left: 20px;
    top: 10px;
}
#worldNameLabel {
    position: relative;
    left: 20px;
    top: 10px;
}
#iterationBox {
    position: relative;
    left: 20px;
    width: 25px;
    height: 25px;
    top: 15px;
}
#px {
    position: relative;
    left: 20px;
    top: 10px;
}
#iterationBoxLabel {
    position: relative;
    left: 20px;
    top: 10px;
}
#generateWorldPanelButton {
    width: 120px;
    height: 35px;
    font-size: 20px;
    font-family: Comic-Sans;
    color: white;
    border-radius: 50px;
    border: 2px solid #1f1f1f;
    background-color: #000;
    position: relative;
    left: 50px;
}
#generateWorldPanelButton:hover {
    color: black;
    border: 2px solid #fff;
    background-color: #dfdfdf;
}
#cancelWorldPanelButton {
    width: 100px;
    height: 35px;
    font-size: 20px;
    font-family: Comic-Sans;
    color: white;
    border-radius: 50px;
    border: 2px solid #1f1f1f;
    background-color: #000;
    position: relative;
    left: 50px;
}
#cancelWorldPanelButton:hover {
    color: black;
    border: 2px solid #fff;
    background-color: #dfdfdf;
}
#aboutScreen {
    width: 1880px;
    height: 1040px;
    background-color: #3f7fff;
    border: 10px solid black;
    border-radius: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1000000;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    display: none;
}
.aboutText {
    font-family: Comic-Sans;
    font-size: 20px;
    color: white;
}
#mccImg {
    width: 752px;
    height: 64.5px;
}
#gmgImg {
    width: 250px;
    height: 100px;
    position: relative;
    top: 50px;
}
#dmImg {
    width: 800px;
    height: 200px;
}
#aboutVersionText {
    position: absolute;
    font-family: Comic-Sans;
    font-size: 20px;
    top: 20px;
    left: 20px;
    color: white;
}
#closeAboutButton {
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-family: Comic-Sans;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid black;
    border-radius: 50px;
    color: black;
}
#closeAboutButton:hover {
    border-color: white;
    color: white;
}
.worldPreviewButton {
    font-family: Comic-Sans;
    font-size: 20px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid black;
    color: black;
    border-radius: 80px;
}
#worldPreviewScreen {
    position: absolute;
    z-index: 999999;
    width: 500px;
    height: 200px;
    border-radius: 50px;
    border: 5px solid black;
    background-color: #7fbfff;
    color: black;
    top: 100px;
    font-family: Comic-Sans;
    font-size: 20px;
    display: none;
}
#playWorldButton {
    color: #00bf00;
    border-color: #00bf00;
}
#reloadWorldButton {
    color: #7f007f;
    border-color: #7f007f;
}
#backWorldButton {
    color: #bf0000;
    border-color: #bf0000;
}
.worldPreviewButton {
    font-family: Comic-Sans;
    font-size: 20px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 80px;
    position: relative;
    left: 45px;
    top: 50px;
}
#playWorldButton:hover {
    color: black;
    border-color: black;
}
#reloadWorldButton:hover {
    color: black;
    border-color: black;
}
#backWorldButton:hover {
    color: black;
    border-color: black;
}
#worldNameText {
    font-size: 30px;
}
.worldPreviewText {
    position: relative;
    left: 20px;
    top: 10px;
}
#titleScreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    text-align: center;
}
#loggo {
    position: relative;
    width: 960px;
    height: 250px;
    top: -100px;
    border: 5px solid black;
    background-color: #FFF;
}
.titleScreenButton {
    font-family: Comic-Sans;
    font-size: 30px;
    height: 60px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid black;
    background-color: #fff;
}
.titleScreenButton:hover {
    color: #3f7fff;
}
#loadButton {
    position: relative;
    bottom: 25px;
}
#aboutButton {
    position: relative;
    top: 25px;
}
#aboutLogo {
    width: 960px;
    height: 250px;
}
#dictionaryImage {
    width: 960px;
    height: 540px;
    border-radius: 20px;
    border: 5px solid black;
    position: absolute;
    display: none;
    z-index: 100;
}
#interact {
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #7f7f7f;
}
#logg {
    position: absolute;
    width: 960px;
    height: 250px;
    top: -0px;
    left: 0;
}
#trig {
    position: absolute;
    top: -0px;
    left: 0;
    width: 150px;
    height: 75px;
    font-size: 40px;
    font-family: Comic-Sans;
    color: white;
    background-color: #1f1f1f;
    border: 5px solid black;
    border-radius: 50px;
}
#trig:hover {
    color: black;
    background-color: #fff;
    border-color: #bfbfbf;
}